body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 241, 238);
    box-sizing: border-box;
    font-family: cursive;
}
header{
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid rgb(172, 214, 172);
}
navbar{
height: 10px;}
ul li {
display: inline;
padding: 10px;
margin-top: 40px;
margin-right: 10px;
padding-right: 10px;
}
a{
    text-decoration: none;
        color: rgb(127, 175, 127);
        font-size: 20px;
        display: inline;
}
section ,article{
    text-align: center;
    margin: 20px;
}
.forest{
    font-size: 40px;
}

.logo img {
    border-radius: 5px;
width: 200px;
border: 0;
margin: 20px;}

img{
    border: 3px solid rgb(143, 167, 107);
    width: 500px;
    text-align: center;
    border-radius: 10px;
}
.first-art{
    margin-bottom: 20px;
}
